
<div class="container-fluid bg-light">
  <div class="container bg-light">

      <div class="row mt-4" style="height: 500px;">
          <div class="col"></div>
          <div class="col-md-6 bg-white shadow">

              <div class="card bg-danger mt-4">
                  <h4 class="text-white p-3 pt-2 pb-2">To Do App</h4>
              </div>

              <div class="shadow">
                  <div class="input-group p-4">
                      <input type="text" class="form-control" placeholder="Enter task " name="task"  [(ngModel)]="newTodo" >
                      <button class="btn btn-outline-success" type="button" (click)="createTodo()" >ADD</button>
                    </div>
                       
                    <div style="margin-left: 35%;" class="btn btn-outline-danger col" (click)="showEditButton()" >Show or Hide EDIT</div>


                    <div class="input-group p-4" *ngIf="showeditbutton">
                      <input type="text" class="form-control" placeholder="Enter task you need to update " name="task"  [(ngModel)]="newTodoDescription" >
                    </div>
              </div>

              <h4 class="text-primary mt-4" style="text-align: center;">Tasks</h4>  
              <div style="overflow-y: auto; height: 350px;">
                  <div class="m-3" *ngFor="let todo of todos">
                    <input type="checkbox" [(ngModel)]="todo.completed">
                      <div class="p-2 shadow border" id="tasks" >
                          <div class="input-group row ps-3" >
                              <div class="card col-md-10 border-0"> {{todo.description}} </div>
                              <button class="btn btn-outline-primary col me-2" #editm data-bs-toggle="modal" type="button" (click)="showedit(todo)" [hidden]="editbutton">Update</button>
                              <div class="btn btn-outline-danger col" (click)="deleteTodo(todo)" >X</div>  
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col"></div>

      </div>

  </div>
</div>